/* * * * * * * * * * * * * * * * * * * * *
 * CORE STYLING
 * * * * * * * * * * * * * * * * * * * * */
html {
	scroll-behavior: smooth;
}
#root {
	overflow-x: hidden;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
	"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Fjalla One", sans-serif;
}
.divWrapper {
	position: relative;
	min-height: 100vh;
}
header,
main,
footer {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
}
label {
	display: block;
}
/* * * * * * * * * * * * * * * * * * * * *
 * HEADER
 * * * * * * * * * * * * * * * * * * * * */
header {
	color: white;
	z-index: 2;
	position: fixed;
	height: 60px;
	transition: background-color 0.5s;
}
nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0 auto;
}
nav > div button {
	position: relative;
	z-index: 6;
}
nav > a {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
}
nav > .logo {
	width: 60px;
	height: 60px;
}
nav > div {
	position: relative;
}
nav img {
	width: 124px;
	transform: translateY(-33px);
}
.searchBar {
	display: block;
	position: absolute;
	z-index: 2;
	top: -5px;
	width: 100px;
}
.searchBar > input {
	transition-duration: 1s;
	position: absolute;
	opacity: 0;
	pointer-events: none;
	width: 0;
	left: 0;
	border-radius: 14px;
	border: none;
	padding: 9px;
}
.searchBar.active > input {
	opacity: 1;
	pointer-events: all;
	left: -150px;
	width: 160px;
}
/* * * * * * * * * * * * * * * * * * * * *
 * MAIN
 * * * * * * * * * * * * * * * * * * * * */
main {
	background-color: white;
}
.splash {
	display: flex;
	padding-top: 60px;
	background-color: #845ea9;
	min-height: calc(100vh - 60px);
	justify-content: center;
	align-items: center;
}
.splashEye {
	transform: translateY(50px);
	color: white;
	width: 70%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
.splashEye h1 {
	grid-area: 1 / 1 / 3 / 3;
	align-self: flex-end;
}
.splashEye h1 span {
	color: black;
}
.splashEye button {
	position: relative;
	color: white;
	background-color: transparent;
	border: 2px solid white;
	grid-area: 3 / 1 / 4 / 3;
	align-self: flex-start;
	max-width: 160px;
	padding: 10px;
	transition: background-color 0.5s, color 0.6s;
}
.splashEye button:hover,
.splashEye button:hover:after {
	background-color: white;
	color: black;
}
.splashEye button:after {
	content: ">";
	position: absolute;
	top: 0;
	right: 0;
	border: 2px solid white;
	padding: 10px;
	width: 10px;
	transform: translate(34px, -2px);
	transition: background-color 0.5s, color 0.6s;
}
.splashEye img {
	width: 100%;
	grid-area: 1 / 3 / 4 / 5;
}
main > img,
main > a > img {
	width: 100%;
	opacity: 0.9;
	transition-duration: 0.3s;
	cursor: pointer;
	margin: 50px 0;
}
main > img:hover {
	filter: blur(0);
	opacity: 1;
}
main .section {
	position: relative;
	text-align: center;
	width: 95%;
	margin: 0 auto;
}
/* * * * * * * * * * * * * * * * * * * * *
 * CAROUSEL
 * * * * * * * * * * * * * * * * * * * * */
.carousel {
	position: relative;
	font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
	"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	display: flex;
	justify-content: space-between;
	margin-bottom: 100px;
	height: 450px;
}
.appName {
	max-width: 10%;
}

.carousel .items {
	cursor: pointer;
	width: 18%;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	display: grid;
	grid-template-rows: 65% 15% 10% 10%;
}
.carousel .imgDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 100%;
}
.carousel .items img {
	width: 80%;
}
.carousel .items:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
}
.carousel .items .itemName {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.carousel .items .itemPrice {
	font-size: 0.8rem;
	height: 100%;
	text-align: center;
	overflow-y: hidden;
	margin: 5px;
}
.carousel .items .quickView {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	background-color: #8364a9;
	font-weight: bold;
	font-size: 1.2rem;
	margin: 0;
	transition-duration: 0.2s;
}
.carousel .items:hover .pris {
	color: #52307c;
	font-weight: bold;
}
.carousel .prev,
.carousel .next {
	color: rgba(0, 0, 0, 0.7);
	position: absolute;
	width: 30px;
	padding: 10px;
	font-size: 2.2rem;
	top: 50%;
	left: -10px;
	transform: translateY(-50%);
	transition-duration: 1s;
}
.carousel .next {
	left: auto;
	right: -10px !important;
}
.carousel .prev:hover,
.carousel .next:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
/* * * * * * * * * * * * * * * * * * * * *
 * SHOPPING/PRODUCT DISPLAY
 * * * * * * * * * * * * * * * * * * * * */
.shopping {
	display: grid;
	grid-template-columns: 20% 80%;
	text-align: left;
}
.shopping aside input {
	width: 50px;
}
.shopping select {
	padding: 10px;
}
.shopping .itemDisplayWrapper {
	display: flex;
	flex-direction: column;
	position: relative;
}
.itemDisplayWrapper .filter {
	display: block;
	width: 100%;
}
.itemDisplay {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	grid-template-rows: repeat(3, minmax(350px, 1fr));
}
.itemDisplay .items {
	cursor: pointer;
	position: relative;
	display: grid;
	height: 450px;
	grid-template-rows: 70% 10% 10% 10%;
	transition-duration: 0.5s;
	padding: 15px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.itemDisplay .items:hover {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
.itemDisplay .imgDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	max-width: 100vw;
}
.itemDisplay .items img {
	margin: 0 auto;
	width: 80%;
	background-color: white;
}
.itemDisplay .items p {
	margin: 5px 0;
}
.itemDisplay .items .itemName {
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.itemDisplay .items .itemDescription {
	font-weight: normal;
	font-size: 0.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.itemDisplay .items .pris {
	color: #52307c;
	font-weight: bold;
}
.itemNavigation {
	text-align: center;
}
p.pris {
	position: relative;
	display: inline-block;
}
p.pris:after {
	content: "$";
	position: relative;
	right: -2px;
}
/* * * * * * * * * * * * * * * * * * * * *
 * BUTTONS
 * * * * * * * * * * * * * * * * * * * * */
button,
a {
	cursor: pointer;
	box-sizing: border-box;
}
nav a,
button {
	background-color: transparent;
	border: none;
	color: white;
	text-decoration: none;
	transition: color 0.5s;
}
.hiddenAnchor {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: -100px;
}
footer button:hover {
	color: #9c706c !important;
}
/* * * * * * * * * * * * * * * * * * * * *
 * FOOTER
 * * * * * * * * * * * * * * * * * * * * */
footer {
	border-top: 1px solid lightgray;
	height: 150px;
}
footer .footerWrapper {
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
	height: 100%;
}
footer .footerWrapper > div {
	width: 26%;
}
footer .us button {
	text-align: left;
	color: #3c1361;
	display: inline-block;
	width: 48%;
}
footer .social {
	text-align: center;
}
footer .social button {
	color: #3c1361;
}
footer h2 {
	color: #3c1361;
	font-size: 1.1em;
	margin-bottom: 5px;
}
footer .social div {
	max-width: 200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
footer .info {
	text-align: right;
}
footer .info p {
	margin-top: 5px;
}
/* * * * * * * * * * * * * * * * * * * * *
 * MODAL
 * * * * * * * * * * * * * * * * * * * * */
div.modalContainer {
	background-color: rgba(0, 0, 0, 0.95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition-duration: 0.5s;
}
div.modalContainer .itemDescription {
	min-height: 250px;
}
div.modalContainer.shown {
	opacity: 1;
	pointer-events: all;
	z-index: 100;
}
div.modalContent {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255);
	width: 80%;
	height: 75%;
	overflow-y: scroll;
}
div.modalContent .closeBtn {
	cursor: pointer;
	font-size: 3rem;
	position: absolute;
	top: 10px;
	right: 10px;
	transition-duration: 0.4s;
	z-index: 10;
}
div.modalContent .closeBtn:hover {
	color: #52307c;
}
div.modalContent .items {
	background-color: white;
}

div.modalContent button {
	color: white;
	font-weight: bold;
	background-color: #8364a9;
	padding: 15px 20px;
	width: 120px;
	transition-duration: 0.4s;
}
div.modalContent button:hover {
	color: #52307c;
	background-color: #dbc9f1;
}
.items-modal {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	justify-items: center;
}

.info-container > .itemName {
	margin-top: 13%;
	font-size: x-large;
}

.info-container > .pris {
	font-size: x-large;
	font-weight: bold;
	display: block;
}

.info-container {
	width: 90%;
}

.itemDescription {
	min-height: 100%;
	overflow: hidden;
	color: rgba(0, 0, 0, 0.5);
}
div.modalContent .imgDiv {
	position: relative;
	width: 100%;
	height: 100%;
}
div.modalContent .imgDiv > div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.info-container > img {
	max-height: fit-content;
	overflow: hidden;
}
.modal-image {
	max-width: 50%;
	width: 100%;
	padding: 5%;
	position: relative;
	top: 100px;
	left: 50%;
	width: 300px;
	transform: translateX(-50%);
}
/* * * * * * * * * * * * * * * * * * * * *
 * PAGINATION
 * * * * * * * * * * * * * * * * * * * * */
.pagination > li {
	display: inline-block;
	padding-left: 0;
}
.pagination > li {
	list-style: none;
	border: 0.9px solid;
}
.pagination > li > a,
.pagination > li > span {
	position: relative;
	float: left;
	padding: 6px 12px;
	line-height: 1.42857143;
	text-decoration: none;
	color: #2c689c;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-left: -1px;
}

.pagination > li.active > a {
	color: #fff;
	background-color: #845ea9;
	border-color: #845ea9;
}

.pagination > li > a:hover {
	background-color: #845ea9;
	color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
	margin-left: 0;
	padding: 0px;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	display: none !important;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
	border-bottom-right-radius: 4px;
	margin-right: 0;
	padding: 0px !important;
	border-top-right-radius: 4px;
	display: none !important;
}
/* * * * * * * * * * * * * * * * * * * * *
 * REVIEWS
 * * * * * * * * * * * * * * * * * * * * */
.reviews {
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px 10px 10px;
	position: relative;
	z-index: 10;
}
.review {
	padding: 10px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.review-input {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 0%;
}
div.modalContent .review-input > button {
	width: 100%;
}
.review-input > textarea {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
}
/* * * * * * * * * * * * * * * * * * * * *
 * SHOPPING CART
 * * * * * * * * * * * * * * * * * * * * */
.shoppingCart {
	display: grid;
	position: fixed;
	right: 0;
	top: 0;
	background-color: white;
	min-width: 300px;
	width: 25%;
	height: 100vh;
	grid-template-rows: 10% 70% 20%;
	z-index: 10;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
	transform: translateX(100%);
	transition-duration: 1s;
}
.shoppingCart.active {
	transform: translateX(0);
}
.cartTitle {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #d4bbed;
}
.cartTitle > .cartExit {
	position: absolute;
	right: 30px;
	cursor: pointer;
	transition-duration: 0.5s;
}
.cartTitle > .cartExit:hover {
	color: #52307c;
}
.cartItems {
	background-color: white;
	overflow-y: auto;
}
.cartItems .item {
	display: grid;
	height: 100px;
	grid-template-columns: 30% 50% 20%;
	grid-gap: 5px;
	margin: 10px;
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(100, 100, 100, 0.1);
}
.cartItems .item img {
	width: 100%;
	height: 100%;
}
.cartItems .item .itemName {
	color: #52307c;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cartItems .item div.info {
	color: #52307c;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.cartItems .item div.info .itemAdd {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 110px;
}
.cartItems .item div.info .itemAdd button {
	color: black;
	border-radius: 5px;
	width: 25px;
	background-color: rgba(90, 90, 70, 0.1);
	transition: background-color 0.5s;
}
.cartItems .item div.info .itemAdd button:hover {
	background-color: rgba(90, 90, 70, 0.2);
}
.cartItems .item div:last-child {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cartItems .item div:last-child > svg {
	position: relative;
	right: -25px;
	cursor: pointer;
}
.cartItems .item div:last-child > .pris {
	padding-right: 20px;
	margin: 0;
}
.cartInfo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #d4bbed;
}
.cartInfo > p {
	color: #52307c;
	font-weight: bold;
}
.cartInfo > button {
	color: white;
	font-weight: bold;
	background-color: #8364a9;
	padding: 15px 20px;
	width: 80%;
	border: 2px solid transparent;
	transition: color 0.5s, background-color 0.4s, border 0.6s;
}
.cartInfo button:hover {
	color: #52307c;
	background-color: #dbc9f1;
	border: 2px solid #8364a9;
}

@media only screen and (max-width: 880px) {
	.itemDisplay {
		grid-template-columns: repeat(2, minmax(150px, 1fr));
	}
}
@media only screen and (max-width: 700px) {
	.shopping {
		grid-template-columns: initial;
	}
}
@media only screen and (max-width: 600px) {
	.itemDisplay {
		grid-template-columns: repeat(1, minmax(200px, 1fr));
	}
	.itemDisplay .items img {
		width: auto;
		height: 80%;
	}
}
